body {
  margin: 0;
}

#header1 {
  width: 100%;
  background-color: #1b2c65;
  padding: 0px 0;
}

#menutop {
  background-color: #1b2c65;
  width: 1200px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menutop .container {
  padding: 10px 20px;
  border-radius: 4px;
}

#mnu1 {
  display: flex;
  list-style: none;
}
#mnu1 li {
  margin: 0 10px;
}

#mnu1 a {
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#mnu1 a:hover {
  background-color: #ffcc80;
  color: #000;
}

#header2 {
  width: 100%;
  background-color: #fff;
  padding: 0px 0;
  height: 79px;
}

#header2 .content {
  height: inherit;
  width: 1200px;

  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 182;
}

#nav_menuchinh ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_menuchinh li {
  margin: 0 15px;
}

#nav_menuchinh a {
  text-decoration: none;
  color: #1b2c65;
  font-weight: 600;
  padding: 5px 5px;
  display: block;
  transition: all 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#nav_menuchinh a:hover {
  background-color: #ffcc80;
  color: #000;
  border-radius: 5px;
}

#noidung {
  min-height: 600px;
  background-color: beige;
}

#footer1 {
  width: 100%;
  background-color: #1b2c65;
  padding: 0px 0;
  height: 200px;
}

#footer1 .content {
  height: inherit;
  width: 1200px;

  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#lienketnhanh {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #fff;
}

#lienhe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #fff;
}
